
<app-vacancy-filter (filterChanged)="applyFilter($event)"></app-vacancy-filter>

<div class="pt-16 pb-20 justify-center">
  <h1 class="mx-auto max-w-7xl px-6 text-start text-2xl text-gray-900 dark:text-dark-gray_white font-bold pb-5">
    Список вакансий
  </h1>

  <div class="mx-auto max-w-7xl justify-center px-6 md:flex md:space-x-6 xl:px-0">
    <!-- Vacancy list -->
    <div class="rounded-sm md:w-2/3 space-y-5">
      <div class="transition-all rounded-sm bg-white border-[1px] border-gray-100 dark:border-gray-900 dark:bg-dark-secondary p-5 space-y-4 w-full cursor-pointer hover:scale-[1.02]"
           *ngFor="let vacancy of getVacanciesForCurrentPage()"
           [routerLink]="['/vacancy', vacancy.id]"
      >
        <div class="flex justify-between items-center">
          <h2 class="text-lg font-semibold">{{vacancy?.title}}</h2>
          <button class="text-gray-400 hover:text-gray-600">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
            </svg>
          </button>
        </div>
        <div class="flex items-center space-x-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
            <path
              d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
            <path fill-rule="evenodd"
                  d="M10 2a8 8 0 100 16 8 8 0 000-16zM1 10a9 9 0 1118 0 9 9 0 01-18 0z"
                  clip-rule="evenodd" />
          </svg>
          <p class="text-gray-500">{{vacancy?.city + ' : ' + vacancy?.region}}</p>
          <a href="#" class="flex items-center space-x-1 text-blue-600">
            <span>Посмотреть на карте</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                    d="M10 1a9 9 0 100 18 9 9 0 000-18zm1 14a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd" />
            </svg>
          </a>
        </div>
        <hr class="border-gray-300">
        <p class="text-sm text-gray-800 dark:text-dark_text">
          {{ truncateDescription(vacancy.sections[0].describe, 400)}}
        </p>
        <a href="#" class="text-blue-600 font-semibold">
          <button class="mt-6 p-2 font-semibold bg-[#ECECEC] dark:bg-secondary text-black rounded-sm">Подробнее</button>
        </a>
      </div>

      <!-- Если отфильтрованных вакансий нет, выведите соответствующее сообщение -->
      <div *ngIf="filteredVacancies.length === 0" class="transition-all justify-between mb-6 rounded-sm bg-white dark:bg-dark-secondary p-6 shadow-sm sm:flex sm:justify-start">
        <p class="text-2xl text-gray-900 dark:text-white">
          Нет вакансий, удовлетворяющих выбранными вами критериям.
        </p>
      </div>
      <!-- Pagination -->
      <app-pagination [currentPage]="currentPage"
                      [totalPages]="calculateTotalPages()"
                      (pageChanged)="goToPage($event)">
      </app-pagination>
    </div>

    <!-- Sub total -->
    <div class="mt-6 h-full rounded-sm bg-white dark:bg-dark-secondary dark:bg-opacity-50 dark:border-none p-6 border-[0.5px] md:mt-0 md:w-1/3">
      <div class="flex justify-between">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" xml:space="preserve" class="w-6">
          <g id="Glyph_copy_2">
            <path class="dark:fill-dark-primary"
                  d="M63.125,9.977c-0.902-1.321-2.419-2.194-4.131-2.194H5.006c-1.676,0-3.158,0.842-4.067,2.117l31.16,25.982L63.125,9.977z"/>
            <path class="dark:fill-dark-primary"
                  d="M0.006,14.328v36.889c0,2.75,2.25,5,5,5h53.988c2.75,0,5-2.25,5-5V14.461L32.099,41.09L0.006,14.328z"/>
          </g>
        </svg>
      </div>
      <hr class="my-4"/>
      <div class="flex justify-between">
        <p class="text-lg text-gray-900 dark:text-dark-white_text">Подпишитесь на уведомления, чтобы быть вкурсе о каждой вакансии которая вам
          интереса</p>
      </div>
      <input type="email" placeholder="Введите вашу почту"
             class="px-8 py-3 w-full dark:border-gray-600  focus:dark:border-gray-500 rounded-sm bg-white dark:bg-black focus:ring-0 focus:outline-none text-sm"
      >

      <button class="mt-6 w-full p-2 font-semibold bg-[#ECECEC] dark:bg-secondary text-black rounded-sm">
        Подписаться
      </button>
    </div>

  </div>

</div>

