<div class="pt-20">
  <main class="py-5 px-4 sm:p-6 md:py-10 md:px-8">
    <div class="max-w-7xl mx-auto">

      <div *ngIf="vacancy" class="border-[1px] border-gray-200 rounded-md p-6 space-y-4">
        <div class="flex justify-between items-center">
          <h2 class="text-lg font-semibold">Вакансия: {{vacancy?.title}}</h2>
          <button class="text-gray-400 hover:text-gray-600">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"/>
            </svg>
          </button>
        </div>

        <div class="flex items-center space-x-2 space-y-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mt-3 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"/>
            <path fill-rule="evenodd" d="M10 2a8 8 0 100 16 8 8 0 000-16zM1 10a9 9 0 1118 0 9 9 0 01-18 0z" clip-rule="evenodd"/>
          </svg>

          <p class="text-gray-500">Худжанд, Согд</p>

          <a href="#" class="flex pl-10 items-center space-x-1 text-blue-600">
            <span>Посмотреть на карте</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 1a9 9 0 100 18 9 9 0 000-18zm1 14a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
            </svg>
          </a>
        </div>

        <button (click)="openModal()"
                class="py-3 px-4 font-semibold bg-[#ECECEC] dark:bg-secondary text-black rounded-sm">
          Отправить запрос
        </button>
        <hr class="border-gray-300">

        <div class="pt-3 space-y-5">
          <ng-container *ngFor="let section of vacancy.sections">
            <ng-container [ngSwitch]="section.type">
              <app-content-heading *ngSwitchCase="'heading'" [describe]="section.describe" [title]="section.title"></app-content-heading>
              <app-content-list *ngSwitchCase="'list'" [title]="section.title" [items]="section.items"></app-content-list>
            </ng-container>
          </ng-container>
        </div>

      </div>

    </div>
  </main>
</div>


