<div class="pt-28 md:pt-1">
  <div class="flex flex-col max-w-7xl md:flex-row items-center justify-center mx-auto">

    <div class="w-full md:w-6/12 sm:mt-10 md:mt-20 px-3">
      <h2
        class="text-5xl sm:text-4xl md:text-4xl lg:text-5xl text-center lg:text-left md:text-left md:px-2 sm:px-2 font-black text-dark-color dark:text-white">
        Присоединяйся к крутой и дружной команде уже сегодня
      </h2>
      <p
        class="w-10/12 mt-4 text-sm sm:text-base md:text-lg text-gray-700 dark:text-gray-300 md:px-2 sm:px-2 text-center lg:text-left md:text-left ">
        Забудь о выгорании – у нас ждут интересные вызовы и радость от достижений.
        Найди свою вакансию и вступай в нашу вдохновляющую команду!
      </p>
      <span
        class="pt-10 text-sm sm:text-base md:text-lg text-gray-700 dark:text-gray-300 md:px-2 sm:px-2 text-center lg:text-left md:text-left ">
        Найди вакансию для себя и запишись на собеседования
      </span>
    </div>
    <div class="w-full md:w-6/12 sm:mt-10 lg:p-8">
      <img class="max-w-full" src="assets/img/Rocket.svg" alt="">
    </div>
  </div>
</div>

<div class="mt-8 md:mt-10">
  <app-vacancy-list></app-vacancy-list>
</div>


<div class="max-w-7xl items-center justify-center mx-auto pb-10">

  <div class="relative max-w-5xl mx-auto pt-20 sm:pt-24 lg:pt-32">
    <h1 class="text-dark-color dark:text-white font-extrabold text-4xl sm:text-5xl lg:text-6xl text-center">
      Наши сотрудники
    </h1>
    <p class="mt-6 pb-5 text-2xl text-center max-w-3xl mx-auto dark:text-slate-500">
      Создавайте современное будущее вместе с нами
    </p>
  </div>

  <div class="swiper-container overflow-hidden py-20"
       data-slides-per-view="3"
       data-speed="500"
       data-loop="true">
    <div class="swiper-wrapper">
      <div class="swiper-slide p-5">
        <div class="item-center relative break-words bg-white dark:bg-primary shadow-sm rounded-xl mt-3 h-[450px]">
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center mt-5">
              <div class="">
                <img
                  src="assets/img/avatars/23_Superhero.png"
                  class="shadow-xl rounded-full align-middle border-none max-w-[150px]"/>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <h3 class="text-3xl font-bold leading-normal dark:text-dark_text">Рустам</h3>
            <div class="text-lg mt-0 mb-2 font-bold uppercase dark:text-secondary">
              <i class="fas fa-map-marker-alt"></i>
              DevOps - разработчик
            </div>
          </div>
          <div class="mt-6 py-2 border-t border-slate-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full px-3">
                <p class="font-light leading-relaxed xs:text-sm sm:text-sm md:text-sm lg:text-lg text-md dark:text-white">
                  Благодаря Karimov Job, я теперь DevOps разработчик. Новые вызовы, инновации и возможности,
                  вдохновляющие
                  проекты, профессиональная команда - здесь я нашел свое место!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide p-5">
        <div class="item-center relative break-words bg-white dark:bg-primary shadow-sm rounded-xl mt-3 h-[450px]">
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center mt-5">
              <div class="relative">
                <img
                  src="assets/img/avatars/22_Witch.png"
                  class="shadow-xl rounded-full align-middle border-none max-w-[150px]"/>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <h3 class="text-2xl text-slate-700 font-bold leading-normal dark:text-dark_text">Мехрангез</h3>
            <div class="text-lg mt-0 mb-2 font-bold uppercase dark:text-secondary">
              <i class="fas fa-map-marker-alt text-slate-400 opacity-75"></i>
              Менеджер по развитию iki.tj
            </div>
          </div>
          <div class="mt-6 py-2 border-t border-slate-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full px-4">
                <p class="font-light leading-relaxed xs:text-sm sm:text-sm md:text-sm lg:text-lg text-md dark:text-white">
                  В Karimov Job я нашла возможность воплощать себя как менеджер по развитию. Теперь я участвую в
                  создании
                  будущего компании.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide p-5">
        <div class="item-center relative break-words bg-white dark:bg-primary shadow-sm rounded-xl mt-3 h-[450px]">
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center mt-5">
              <div class="relative">
                <img
                  src="assets/img/avatars/23_Superhero.png"
                  class="shadow-xl rounded-full align-middle border-none max-w-[150px]"/>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <h3 class="text-2xl text-slate-700 font-bold leading-normal dark:text-dark_text">Саидмашхуд</h3>
            <div class="text-lg mt-0 mb-2 font-bold uppercase dark:text-secondary">
              <i class="fas fa-map-marker-alt text-slate-400 opacity-75"></i>
              BackEnd - разработчик
            </div>
          </div>
          <div class="mt-6 py-2 border-t border-slate-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full px-4">
                <p class="font-light leading-relaxed xs:text-sm sm:text-sm md:text-sm lg:text-lg text-md dark:text-white">
                  Это был мой мост к возможностям. Здесь я нашел вакансию бэкенд разработчика и внес свой вклад в
                  создание
                  уникальных IT-продуктов
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide p-5">
        <div class="item-center relative break-words bg-white dark:bg-primary shadow-sm rounded-xl mt-3 h-[450px]">
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center mt-5">
              <div class="relative">
                <img
                  src="assets/img/avatars/23_Superhero.png"
                  class="shadow-xl rounded-full align-middle border-none max-w-[150px]"/>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <h3 class="text-2xl text-slate-700 font-bold leading-normal dark:text-dark_text">Саидчон</h3>
            <div class="text-lg mt-0 mb-2 font-bold uppercase dark:text-secondary">
              <i class="fas fa-map-marker-alt text-slate-400 opacity-75"></i>
              Flutter/Dart - разработчик
            </div>
          </div>
          <div class="mt-6 py-2 border-t border-slate-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full px-4">
                <p class="font-light leading-relaxed xs:text-sm sm:text-sm md:text-sm lg:text-lg text-md dark:text-white">
                  Новые технологии, захватывающие проекты и команда профессионалов - все это нашел в компании! Это был
                  мой
                  ключ к карьере в мобильной разработке!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide p-5">
        <div class="item-center relative break-words bg-white dark:bg-primary shadow-sm rounded-xl mt-3 h-[450px]">
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center mt-5">
              <div class="relative">
                <img
                  src="assets/img/avatars/22_Witch.png"
                  class="shadow-xl rounded-full align-middle border-none max-w-[150px]"/>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <h3 class="text-2xl text-slate-700 font-bold leading-normal dark:text-dark_text">Гулрухсор</h3>
            <div class="text-lg mt-0 mb-2 font-bold uppercase dark:text-secondary">
              <i class="fas fa-map-marker-alt text-slate-400 opacity-75"></i>
              Оператор
            </div>
          </div>
          <div class="mt-6 py-2 border-t border-slate-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full px-4">
                <p class="font-light leading-relaxed xs:text-sm sm:text-sm md:text-sm lg:text-lg text-md dark:text-white">
                  Я стала голосом компании! Здесь я нашла вакансию оператора колл-центра и помогаю клиентам решать их
                  вопросы
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide p-5">
        <div class="item-center relative break-words bg-white dark:bg-primary shadow-sm rounded-xl mt-3 h-[450px]">
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center mt-5">
              <div class="relative">
                <img
                  src="assets/img/avatars/23_Superhero.png"
                  class="shadow-xl rounded-full align-middle border-none max-w-[150px]"/>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <h3 class="text-2xl text-slate-700 font-bold leading-normal dark:text-dark_text">Гафурджон</h3>
            <div class="text-lg mt-0 mb-2 font-bold uppercase dark:text-secondary">
              <i class="fas fa-map-marker-alt text-slate-400 opacity-75"></i>
              Курьер в iki.tj
            </div>
          </div>
          <div class="mt-6 py-2 border-t border-slate-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full px-4">
                <p class="font-light leading-relaxed xs:text-sm sm:text-sm md:text-sm lg:text-lg text-md dark:text-white">
                  Здесь я нашел вакансию мобильного курьера, и каждая доставка стала приключением!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide p-5">
        <div class="item-center relative break-words bg-white dark:bg-primary shadow-sm rounded-xl mt-3 h-[450px]">
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center mt-5">
              <div class="relative">
                <img
                  src="assets/img/avatars/22_Witch.png"
                  class="shadow-xl rounded-full align-middle border-none max-w-[150px]"/>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <h3 class="text-2xl text-slate-700 font-bold leading-normal dark:text-dark_text">Махина</h3>
            <div class="text-lg mt-0 mb-2 font-bold uppercase dark:text-secondary">
              <i class="fas fa-map-marker-alt text-slate-400 opacity-75"></i>
              SMM - в iki.tj
            </div>
          </div>
          <div class="mt-6 py-2 border-t border-slate-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full px-4">
                <p class="font-light leading-relaxed xs:text-sm sm:text-sm md:text-sm lg:text-lg text-md dark:text-white">
                  Благодаря этой платформе я попала в мир SMM! Здесь я нашла вакансию, где каждый пост становится
                  настоящим искусством. Теперь моя креативность создает контент, который цепляет сердца!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide p-5">
        <div class="item-center relative break-words bg-white dark:bg-primary shadow-sm rounded-xl mt-3 h-[450px]">
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center mt-5">
              <div class="relative">
                <img
                  src="assets/img/avatars/23_Superhero.png"
                  class="shadow-xl rounded-full align-middle border-none max-w-[150px]"/>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <h3 class="text-2xl text-slate-700 font-bold leading-normal dark:text-dark_text">Гафурджон</h3>
            <div class="text-lg mt-0 mb-2 font-bold uppercase dark:text-secondary">
              <i class="fas fa-map-marker-alt text-slate-400 opacity-75"></i>
              Курьер в iki.tj
            </div>
          </div>
          <div class="mt-6 py-2 border-t border-slate-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full px-4">
                <p class="font-light leading-relaxed xs:text-sm sm:text-sm md:text-sm lg:text-lg text-md dark:text-white">
                  Здесь я нашел вакансию мобильного курьера, и каждая доставка стала приключением!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide p-5">
        <div class="item-center relative break-words bg-white dark:bg-primary shadow-sm rounded-xl mt-3 h-[450px]">
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center mt-5">
              <div class="relative">
                <img
                  src="assets/img/avatars/22_Witch.png"
                  class="shadow-xl rounded-full align-middle border-none max-w-[150px]"/>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <h3 class="text-2xl text-slate-700 font-bold leading-normal dark:text-dark_text">Азиза</h3>
            <div class="text-lg mt-0 mb-2 font-bold uppercase dark:text-secondary">
              <i class="fas fa-map-marker-alt text-slate-400 opacity-75"></i>
              Фотограф в iki.tj
            </div>
          </div>
          <div class="mt-6 py-2 border-t border-slate-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full px-4">
                <p class="font-light leading-relaxed xs:text-sm sm:text-sm md:text-sm lg:text-lg text-md dark:text-white">
                  Фотография для меня не только искусство, но и способ передать эмоции. Это место, где моя страсть к
                  фотографии нашла свое проявление, а работа превратилась в увлекательное путешествие. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Кнопка "назад" -->
    <div class="relative pt-10 z-50 justify-between px-12 flex w-auto mx-auto bottom-5">
      <!-- Кнопка "назад" -->
      <div class="swiper-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="81" height="24" viewBox="0 0 81 24" fill="none">
          <path d="M0.939339 13.0607C0.353554 12.4749 0.353554 11.5251 0.939339 10.9393L10.4853 1.39339C11.0711 0.807605 12.0208 0.807605 12.6066 1.39339C13.1924 1.97918 13.1924 2.92893 12.6066 3.51471L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.939339 13.0607ZM81 13.5L2 13.5L2 10.5L81 10.5L81 13.5Z" fill="black"/>
        </svg>
      </div>
      <!-- Кнопка "вперед" -->
      <div class="swiper-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="81" height="24" viewBox="0 0 81 24" fill="none">
          <path d="M80.0607 13.0607C80.6464 12.4749 80.6464 11.5251 80.0607 10.9393L70.5147 1.39339C69.9289 0.807605 68.9792 0.807605 68.3934 1.39339C67.8076 1.97918 67.8076 2.92893 68.3934 3.51471L76.8787 12L68.3934 20.4853C67.8076 21.0711 67.8076 22.0208 68.3934 22.6066C68.9792 23.1924 69.9289 23.1924 70.5147 22.6066L80.0607 13.0607ZM1.31134e-07 13.5L79 13.5L79 10.5L-1.31134e-07 10.5L1.31134e-07 13.5Z" fill="black"/>
        </svg>
      </div>
    </div>
  </div>

</div>









