<div class="pt-28 md:pt-1">
  <div class="grid grid-cols-1 sm:grid-cols-2 max-w-7xl items-center justify-center mx-auto">

    <div class="w-full sm:mt-10 md:mt-28 px-3">
      <h2
        class="text-5xl sm:text-4xl md:text-4xl lg:text-5xl text-center lg:text-left
                sm:text-left md:text-left font-black text-dark-color dark:text-white">
        Присоединяйся к крутой и дружной команде уже сегодня
      </h2>
      <p
        class="sm:w-10/12 w-full mt-4 text-sm sm:text-base md:text-lg text-gray-700 dark:text-gray-300
               text-center lg:text-left md:text-left sm:text-left">
        Забудь о выгорании – у нас ждут интересные вызовы и радость от достижений.
        Найди свою вакансию и вступай в нашу вдохновляющую команду!
      </p>
      <span
        class="text-sm sm:text-base md:text-lg text-gray-700 dark:text-gray-300
               text-center lg:text-left md:text-left sm:text-left">
        Найди вакансию для себя и запишись на собеседования
      </span>
    </div>

    <div class="w-full sm:mt-24 lg:p-8 hidden sm:flex">
      <img class="max-w-full" src="assets/img/Rocket.svg" alt="">
    </div>
  </div>
</div>

<div class="mt-8 md:mt-10">
  <app-vacancy-list></app-vacancy-list>
</div>
