<div class="pt-28 md:pt-1">
  <div class="flex flex-col max-w-7xl md:flex-row items-center justify-center mx-auto">

    <div class="w-full md:w-5/12 sm:mt-10 md:mt-20 px-3">
      <h2 class="text-5xl sm:text-4xl md:text-4xl lg:text-5xl text-center lg:text-left md:text-left md:px-2 sm:px-2 font-black text-dark-color dark:text-white">
        Присоединяйся к крутой и дружной команде уже сегодня
      </h2>
      <p class="mt-4 text-sm sm:text-base md:text-lg text-gray-700 dark:text-gray-300 md:px-2 sm:px-2 text-center lg:text-left md:text-left ">
        Забудь о выгорании – у нас ждут интересные вызовы и радость от достижений.
        Найди свою вакансию и вступай в нашу вдохновляющую команду!
      </p>
      <span class="block mt-4 text-xs sm:text-sm font-semibold text-gray-500 dark:text-gray-400 md:px-2 sm:px-2 text-center lg:text-left md:text-left">
        Найди вакансию для себя и запишись на собеседования
      </span>
    </div>
    <div class="w-full md:w-7/12 sm:mt-10">
      <img class="max-w-full" src="assets/Meet-the-team%201.svg" alt="">
    </div>
  </div>
</div>

<div class="mt-8 md:mt-10">
  <app-vacancy-list></app-vacancy-list>
</div>


