<div class="modal fixed inset-0 flex items-center justify-center z-50 bg-opacity-50 bg-gray-900">
  <div class="bg-white dark:bg-dark-secondary rounded-sm p-6 shadow-lg w-full max-w-2xl">
    <div class="flex flex-row justify-between py-3 border-b border-gray-200 rounded-tl-lg rounded-tr-lg">
      <p class="font-semibold">Отправить запрос</p>
      <svg
        (click)="closeModal()"
        class="w-6 h-6 cursor-pointer"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </div>
    <form (ngSubmit)="onSubmit()" class="mt-3" *ngIf="isFormValid">
      <div class="mb-4">
        <label for="fullName" class="block font-semibold">
          ФИО
        </label>
        <input type="text" id="fullName" name="fullName" [(ngModel)]="fullName"
               class="px-8 py-3 w-full dark:border-gray-600  focus:dark:border-gray-500 rounded-sm bg-white dark:bg-black focus:ring-0 focus:outline-none text-sm">
      </div>
      <div class="mb-4">
        <label for="phoneNumber" class="block font-semibold">
          Номер телефона
        </label>
        <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber"
               class="px-8 py-3 w-full dark:border-gray-600  focus:dark:border-gray-500 rounded-sm bg-white dark:bg-black focus:ring-0 focus:outline-none text-sm">
      </div>
      <div class="mb-4">
        <label for="email" class="block font-semibold">
          Ваша почта
        </label>
        <input type="text" id="email" name="email" [(ngModel)]="email"
               class="px-8 py-3 w-full dark:border-gray-600  focus:dark:border-gray-500 rounded-sm bg-white dark:bg-black focus:ring-0 focus:outline-none text-sm">
      </div>
      <div class="mb-4">
        <label for="coverText" class="block font-semibold">
          Cопроводительное письмо
        </label>
        <input type="text" id="coverText" name="coverText" [(ngModel)]="coverText"
               class="px-8 py-3 w-full dark:border-gray-600  focus:dark:border-gray-500 rounded-sm bg-white dark:bg-black focus:ring-0 focus:outline-none text-sm">
      </div>
      <div class="mb-4">
        <label class="block font-semibold">Загрузить резюме</label>
        <input type="file" (change)="onFileChange($event)"
               class="py-3 w-full dark:border-gray-600  focus:dark:border-gray-500 rounded-sm bg-white dark:bg-black focus:ring-0 focus:outline-none text-sm">
      </div>
      <div class="flex justify-end space-x-2">
        <button type="submit"
                class="w-full p-2 px-3 font-semibold bg-[#ECECEC] dark:bg-secondary text-black rounded-sm">
          Отправить
        </button>
        <button type="button" (click)="closeModal()"
                class="w-full p-2 px-3 font-semibold bg-[#ECECEC] dark:bg-secondary text-black rounded-sm">
          Отмена
        </button>
      </div>
    </form>
  </div>
</div>


