/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/*  Tailwind CSS connection   */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  font-family: 'Nunito', 'Montserrat', Serif;
  transition: all;
  transition-delay: 2s;
}

.custom-input {
  border: none;
  border-bottom: 2px solid #CCFF00; /* Линия подчеркивания */
  padding: 0.5rem; /* Отступы */
  color: #0A0B0B; /* Цвет текста */
  background-color: #ECECEC; /* Цвет фона */
  transition: border-color 0.3s ease; /* Плавный переход при фокусе */
}

.custom-input:focus {
  border-color: #0A0B0B; /* Цвет линии при фокусе */
}

.custom-input::placeholder {
  color: #FFFFFF; /* Цвет плейсхолдера */
}



.light {
  @apply bg-gray-100 text-black;
}

/* Стили для темной темы */
.dark {
  @apply bg-black text-white;
}



.custom-file-input::before {
  @apply inline-block bg-green-500 text-white py-2 px-4 cursor-pointer;
  content: 'Выбрать файл';
}
/* Общие стили */

.modal-content {
  background-color: #ECECEC;
  color: #0A0B0B;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(10, 11, 11, 0.2); /* #0A0B0B с 20% прозрачностью */
  width: 100%;
  max-width: 480px;
}

/* Заголовок */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #CCFF00;
  background-color: #FFFFFF;
}

.modal-header h3 {
  font-weight: 600;
}

.close-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Форма */
.form-container {
  padding: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  font-weight: 600;
  color: #0A0B0B;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #0A0B0B;
  border-radius: 0.25rem;
  background-color: #ECECEC;
  color: #0A0B0B;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #CCFF00;
}

.form-file-label {
  display: block;
  padding: 0.5rem 1rem;
  background-color: #CCFF00;
  color: #0A0B0B;
  border-radius: 0.25rem;
  cursor: pointer;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.form-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.form-buttons .submit-button {
  background-color: #CCFF00;
  color: #0A0B0B;
  font-weight: 600;
}

.form-buttons .cancel-button {
  background-color: #0A0B0B;
  color: #CCFF00;
  font-weight: 600;
  margin-left: 1rem;
}
